=== Latex ===
*.aux
Informe.pdf
*.backup
*~
*.log
*.lot
*.gz
*.toc
*.blg
*.bbl
*.xdy
*.lof
*.acn
*.TMP
*.acr
*.alg
*.ist
*.out
*.directory
*.dvi

=== Temps de Kile ===
Informe.glsdefs
*.kilepr
*.kate-swp
